body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
h2 {
    color: #333;
}
.chart-container {
    width: 80%;  /* Reduce width */
    max-width: 600px; /* Set max width */
    height: 300px; /* Reduce height */
    margin: auto; /* Centering */
}
